:root {
	--primary-bg-color:  #ffffff;
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--acent-text-color-navigation: #2196F3;
	--hero-text-color: #ffffff;
	--secondary-bg-color: #2F303A;
	--hero-button-bg: #2196F3;
	--hero-button-bg-activ: #188CE8;
	--team-bg: #F5F4FA;
	--filter-bg-color: #F5F4FA;
}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Roboto;
	background: var(--primary-bg-color);
}
body li {
	list-style-type: none;
}
header a {
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.navygation a {
	color: var(--primary-text-color);
}
.contact-us  a {
	color: var(--secondary-text-color);
}
.navygation a:hover,
.navygation a:focus,
.contact-us a:hover,
.contact-us a:focus  {
	color: var(--acent-text-color-navigation);
}

.block-hero {
	background: var(--secondary-bg-color);
	color: var(--hero-text-color);
}
.block-hero > h1 {
	text-decoration: none;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}
.block-hero > button,
.block-hero > button:hover {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--hero-text-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}
/* изменение фона при наведении на кнопку*/
.block-hero > button {
	background: var(--hero-button-bg);
}
.block-hero > button:hover,
.block-hero > button:focus {
	background: var(--hero-button-bg-activ);
}
/* скрываем h2 который отсутствует на макете*/
.our-features > h2 {
	opacity: 0;
}
.our-features h3 {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-text-color);
}
.our-features p {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;

	color: var(--secondary-text-color);
}
.activity > h2,
.team > h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
}
.team {
	background: var(--team-bg);
}
.team h3 {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
}
.team p {
	font-weight: 400;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}
footer {
	background: var(--secondary-bg-color);
}
footer span {
	font-style: normal;
}
.address {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--hero-text-color);
}
.contacts {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color:rgba(255, 255, 255, 0.6);
	;
}
/*стилизация портфолио*/
a.activ {
	color: var(--acent-text-color-navigation);
}
main a {
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);

	background: var(--filter-bg-color);
	border-radius: 4px;
	padding: 6px 22px;
}
main a:hover,
main a:focus {		
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.03em;
	color: var(--hero-text-color);

	background: var(--acent-text-color-navigation);
}
.project-name {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--primary-text-color);
}
.project-type {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
}